* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    color: white;
    height: 5rem;
    font-size: 2rem;
    padding: 20px;
}

.library {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}


.book-card {
    /* display: flex; */
    background-color: rgb(223, 224, 233);
    border-radius: 10px;
    font-size: 1rem;
    margin: 10px;
    /* padding: 10px; */
    /* flex: 1 1 0; */
    
}

.book-card p {
    padding:10px;
}

.book-card button {
    margin: 10px;
    padding: 3px;
    cursor: grab;
}

.show-dialog {
    margin: 10px;
    padding: 5px 8px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(99, 98, 98);
}

.dialog {
    width: 300px;
    height: 330px;
    position: fixed;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    border: none;
    outline: 2px solid gray;;
}

.dialog div {
    /* margin: 10px;
    padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.dialog div input {
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(177, 175, 175);
    
}

.dialog button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(138, 136, 136);
    
    
}